@model IEnumerable<ProductViewModel>;

<section class="showcase">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active c-item" data-bs-interval="7000">
                <img src="/images/background/background6.jpg" class="d-block w-100 c-img" alt="nature-picture-1">
            </div>
            <div class="carousel-item c-item" data-bs-interval="7000">
                <img src="/images/background/background7.jpg" class="d-block w-100 c-img" alt="nature-picture-2">
            </div>
            <div class="carousel-item c-item" data-bs-interval="7000">
                <img src="/images/background/background8.jpg" class="d-block w-100 c-img" alt="nature-picture-3">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>
<section class="items">
    <h2 class="product-category">შეთავაზებები</h2>
    <button class="pre-btn"><img src="/images/buttons/slider-left-btn.svg" alt=""></button>
    <button class="nxt-btn"><img src="/images/buttons/slider-right-btn.svg" alt=""></button>
    <div class="product-container">
        @foreach (ProductViewModel product in Model)
        {
            <div class="product-card">
                <div class="product-image">
                    @* <span class="discount-tag">-50%</span> *@
                    <a asp-controller="Products" asp-action="ProductItem" asp-route-id=@product.Id>
                        <img src="@product.Photos.First().PhotoUrl" class="product-thumb" alt="">
                    </a>
                    <button class="card-btn" onclick="location.href='@Url.Action("AddCartItem", "Cart", new {id = product.Id, isProductList = false})'">კალათაში დამატება</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">@product.ProductName</h2>
                    <p class="product-short-description"></p>
                    <span class="price">₾@product.Price.ToString("N0")</span><span class="actual-price"></span>
                </div>
            </div>
        }
    </div>
</section>
<section class="ad-1">
    <div class="wrapper">
        <div class="wrapper_img">
            <img src="/images/background/background5.jpg" alt="Latte-starbucks">
        </div>
        <div class="wrapper_text">
            <div class="wrapper_text--cont">
                <h2 class="ad-h2">Energize Your Ideas</h2>
                @* <p class="ad-p"></p> *@
                <a asp-controller="Products" asp-action="Index" class="btn-section-1">Order Now</a>
            </div>
        </div>
    </div>
</section>
<script src="~/js/homepage.js"></script>