<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap">
    <link rel="stylesheet" href="/css/newsitem.css">
    <title>Document</title>
</head>
<main class="news-article">
    <article class="news-content">
        <h2>The Most Expensive Data Science Mistake I've Witnessed in My Career</h2>
        <p class="subheading">Why true success in machine learning goes beyond optimizing a single metric</p>
        <p class="author">10/11/2023</p>
        <img src="img/shoe-1.png" alt="Credit Report" class="article-image">
        <div class="news-story">
            <p>
                "The new credit model didn’t perform as expected," he said.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quae labore quia repellat ea velit, quos magni ut reiciendis?
                Enim incidunt perspiciatis omnis voluptatibus ullam!
                "The new credit model didn’t perform as expected," he said.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quae labore quia repellat ea velit, quos magni ut reiciendis? Enim incidunt perspiciatis omnis voluptatibus ullam!
                "The new credit model didn’t perform as expected," he said.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quae labore quia repellat ea velit, quos magni ut reiciendis? Enim incidunt perspiciatis omnis voluptatibus ullam!
                "The new credit model didn’t perform as expected," he said.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quae labore quia repellat ea velit, quos magni ut reiciendis? Enim incidunt perspiciatis omnis voluptatibus ullam!
                "The new credit model didn’t perform as expected," he said.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quae labore quia repellat ea velit, quos magni ut reiciendis? Enim incidunt perspiciatis omnis voluptatibus ullam!
            </p>
        </div>
    </article>
</main>